html 
{
    font-family: monospace;
    text-align: center;
    height:100%;
    color:white;
    /*background-image: repeating-linear-gradient(60deg,black,rgba(255, 167, 86,0.7) 10%,rgba(255, 167, 86,1) 10%);*/

}
@keyframes correctpulse {
    0% {
        color:white;
    }
    25% {
        color:rgba(0,255,0,0.5);
    }
    50% {
        color: rgba(0,255,0,1);
    }
    75% {
        color:rgba(0,255,0,0.5);
    }
    100% {
        color:white;
    }
}
@keyframes bgpulse {
    0% {
        background-color: rgba(255, 167, 86,1);
    }
    10% {
        background-color: rgba(255, 167, 86,0.95);
    }
    20% {
        background-color: rgba(255, 167, 86,0.90);
    }
    30% {
        background-color: rgba(255, 167, 86,0.85);
    }
    40% {
        background-color: rgba(255, 167, 86,0.80);
    }
    50% {
        background-color: rgba(255, 167, 86,0.75);
    }
    60% {
        background-color: rgba(255, 167, 86,0.70);
    }
    70% {
        background-color: rgba(255, 167, 86,0.65);
    }
    80% {
        background-color: rgba(255, 167, 86,0.60);
    }
    90% {
        background-color: rgba(255, 167, 86,0.55);
    }
    100% {
        background-color: rgba(255, 167, 86,0.50);
    }
}
.correctans {
    animation-name: correctpulse;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
}
.bgchange {
    animation-name: bgpulse;
    animation-duration: 100s;
    animation-iteration-count: 1;
}
body {
    background-color: rgba(255, 167, 86,1);
}

.duza {
    font-size: 4em;
    font-weight: bold;
    color:white;
    text-shadow: 1px 0 20px rgba(125, 193, 255,0.8);;
}


.image {
    max-width: 25%;
    max-height: 25%;
}

@keyframes pulsing {
    0% {
        transform: scale(0.97);
        box-shadow: 0 0 0 0 rgba(0,0,0,0.6);
    }
    50% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0,0,0,0);
    }
    100% {
        transform:scale(0.97);
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }
}
@keyframes pulsing2 {
    0% {
        box-shadow: 0 0 0 0 rgba(0,0,0,0.6);
    }
    50% {
        box-shadow: 0 0 0 10px rgba(0,0,0,0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }
}
.buttonstart {
    font-family: monospace;

    background-color:rgba(125, 193, 255,0.8);
    border-radius: 5px;
    box-shadow:0 0 0 0 rgba(0,0,0,1);
    transform:scale(1);
    animation-name: pulsing;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    color: white;
    font-weight: 900;
    font-size:1.125em;
    
}
.maintext {
    color:white;
    font-weight: bolder;
    font-size:1.5em;
    text-shadow: 1px 1px 5px rgba(125, 193, 255,0.8);
}
h1 {
    text-shadow: 1px 1px 1px black;
    font-size: 2.75em;
    text-shadow: 1px 1px 5px rgba(125, 193, 255,0.8);
    
}
#dzik {
    font-family: monospace;
    background-color:rgba(125, 193, 255,0.8);
    border-radius: 5px;
    box-shadow:0 0 0 0 rgba(0,0,0,1);
    transform:scale(1);
}
#dzik:hover {
    transform: translateY(-3px);
}
#dzik:active {
    background-color: rgba(160, 198, 235,0.9);
    
}
.buttonstart:active {
    animation-name: pulsing2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.highscore{
    font-size: 1.5em;
    color:white;
    font-weight: bolder;
    text-shadow: 1px 1px 5px rgba(125, 193, 255,0.8);
}
.hidden {
    display:none;
}

